body {
    font-family: sans-serif;
    font-size: small;
}

hr {
    /* max-width: 650px; */
    /* margin-left: 100px; */
    margin: 0 40px;
    max-width: 830px;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.themes {
    /* display: flex; */
    /* justify-content: left; */
    /* margin-left: 70px; */
    margin: 0 auto;
}

.dropdown {
    cursor: pointer;
    margin: 5px 0 -10.2px 0;
}

.dropdown__title,
.dropdown__name {
    display: flex;
    align-items: center;
}

.dropdown__title {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
}

.dropdown__title img:first-child {
    margin-right: 10px;
}

/* .dropdown_content {
    position: absolute;
    display: none;
    z-index: 1;
} */

/* details {
    transition: 0.3s;
    display: flex;
    justify-content: center;
    background: #fff;
    width: 700px;
}

details:hover {
    transform: scale(1.01);
    transition: 0.3s;
}

details[open]:hover {
    transform: none;
}

details[open] summary::after {
    transform: rotate(0deg);
}

details summary {
    z-index: 1;
    display: flex;
    align-items: center;
    padding: .3em 1em .3em .9em;
    cursor: pointer;
    position: relative;
}
*/
.dropdown_image {
    width: 32px;
    height: 32px;
}

.dropdown .chevron {
    width: 16px;
    height: 16px;
    transform: rotate(-90deg);
    transition: all 0.2s;
}

/*
details summary .name {
    margin-left: 15px;
}

details summary::-webkit-details-marker {
    display: none;
}

details summary::after {
    top: .7em;
    right: .3em;
    color: #0F508B;
    background: url("images/chevron.svg") no-repeat 50% 50% / 1em 1em;
    width: 1em;
    height: 1em;
    content: "";
    transform: rotate(-90deg);
    position: absolute;
}
*/
.document_wrap {
    display: flex;
    justify-content: center;
}

.document {
    position: relative;
    width: 600px;
    height: 0px;
    border-radius: 10px;
    transition: height 0.4s;

}

@media screen and (max-width: 700px) {
    .document {
        width: 90%;
    }
}

html, body {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    /* justify-content: center; */
    width: 100%;
}

.specialities {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: max-content;

}

.specialities .name {
    font-size: 27px;
}

.specialities .card {
    margin: 20px;
    border: 1px solid #d9dde2;
    width: 390px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #00000040;
    text-align: center;
    text-decoration: none;
    height: 330px;
}

.card_empty {
    margin: 20px;
    width: 390px;
    border-radius: 20px;
    height: 330px;
}

.specialities img {
    width: 180px;
    height: 180px;
    text-align: center;
    align-items: center;
    margin-top: 14px;
}

.card a {
    color: black;
    text-decoration: none;
    max-height: 390px;
    transition: 0.5s;
}

.card {
    cursor: pointer;
    transition: 0.4s;
}

.card .name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 110px;
}

.card:hover {
    transform: scale(1.04);
    box-shadow: 0px 0px 10px #377bba;
}

@media screen and (max-width: 768px) {
    body {
        padding-left: 10px;
        padding-right: 10px;
    }

    .specialities {
        display: inline-block;
        width: 100%;
        text-align: center;
    }

    .card a {
        display: flex;
        align-items: center;
    }

    .specialities .card,
    .card_empty {
        width: 100%;
        height: 100px;
        margin: 20px 0 0 0;
    }

    .card_empty {
        width: 100%;
        height: 0;
        margin: 0;
    }

    .card a {
        align-items: center;
        width: 100%;
    }

    .specialities .name {
        padding-bottom: 0px;
        margin: 0 auto;
        font-size: 15px;
        text-align: start;
        padding-left: 11px;
    }

    .specialities img {
        margin-left: 20px;
        margin-top: 0px;
        width: 80px;
        height: 80px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {

    .specialities .card,
    .card_empty {
        width: 320px;
        height: 270px;
    }

    .specialities .name {
        font-size: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .specialities img {
        width: 150px;
        height: 150px;
        text-align: center;
        align-items: center;
        margin-top: 14px;
    }

    /* .pad_1 {
        display: flex;
        flex-direction: column;
    } */

    /* .specialities {
        flex-flow: column-reverse;
    } */
}

@media screen and (min-width: 1201px) and (max-width: 1440px) {
    .specialities .card,
    .card_empty {
        width: 320px;
        height: 270px;
    }

    .specialities .name {
        font-size: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .specialities img {
        width: 150px;
        height: 150px;
        text-align: center;
        align-items: center;
        margin-top: 14px;
    }
}